<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildConfiguration</key>
	<string>Produce</string>
	<key>BuildDateTime</key>
	<string>1811191750</string>
	<key>BuildMachineOSBuild</key>
	<string>18B75</string>
	<key>BuildTimes</key>
	<integer>0</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>拉卡拉</string>
	<key>CFBundleExecutable</key>
	<string>Koala</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.lakala.client</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.1</string>
	<key>CFBundleName</key>
	<string>Koala</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.4.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.lakala.client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lkl</string>
				<string>koala</string>
				<string>koalajs</string>
				<string>cmblakala</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb340297999</string>
				<string>wxd1f8a65e35b984d8</string>
				<string>QQ06028E78</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx09995ac1f9a8f13b</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8.4.1.1</string>
	<key>CloseBundleUpdate</key>
	<false/>
	<key>DTAppStoreToolsBuild</key>
	<string>10B63</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16B91</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.1</string>
	<key>DTSDKBuild</key>
	<string>16B91</string>
	<key>DTSDKName</key>
	<string>iphoneos12.1</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>ExternalInvokeHandlers</key>
	<array>
		<string>LKLLotteryInvokeHandler</string>
		<string>LKLLottery500wInvokeHandler</string>
		<string>LKLCMBInvokeHandler</string>
		<string>LKLCashierInvokeHandler</string>
		<string>LKLSNSInvokeHandler</string>
		<string>LKLDYInvokeHandler</string>
		<string>LKLForThirdWebInvokeHandler</string>
	</array>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>2d037e7939dbd15a3f892bc9dc0e50ec7e69391d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>InternalVersion</key>
	<integer>116</integer>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>kaolazhengxin</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>lkl</string>
		<string>koala</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>5e456d5b51e8</string>
	<key>MOBAppSecret</key>
	<string></string>
	<key>MainBundle</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>当您使用拉卡拉蓝牙刷卡器时，需要使用蓝牙连接</string>
	<key>NSCameraUsageDescription</key>
	<string>拉卡拉钱包需要调用相机拍摄实现扫描拍照等功能</string>
	<key>NSContactsUsageDescription</key>
	<string>为了帮助您通过审批，请允许拉卡拉钱包访问您的手机通讯录</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>拉卡拉可以通过位置信息为您提供匹配的业务功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>当您使用拉卡拉刷卡器时需要插入耳机孔传输数据</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>拉卡拉钱包需要您的同意,才能保存图片到您的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>拉卡拉钱包需要调用相机拍摄实现扫描拍照等功能</string>
	<key>NetworkTimeoutInterval</key>
	<integer>95</integer>
	<key>ServerAddress</key>
	<dict>
		<key>ProduceServerRelease</key>
		<string>https://mts.lakala.com:9443/pmobile</string>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>assets/icon/launch_xykhk</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>信用卡还款</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.lakala.client.creditguide</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>tag</key>
				<string>creditguide</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>assets/icon/launch_yecx</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>刷卡查余额</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.lakala.client.CardBalance</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>tag</key>
				<string>CardBalance</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>assets/icon/launch_zdq</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>赚点钱</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.lakala.client.wealth</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>tag</key>
				<string>wealth</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>assets/icon/launch_jf</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>便民缴费</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.lakala.client.PubpayMain</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>tag</key>
				<string>PubpayMain</string>
			</dict>
		</dict>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>VedioServerAddress</key>
	<dict>
		<key>ProduceServerDebug</key>
		<string>video.lakala.com</string>
		<key>ProduceServerRelease</key>
		<string>video.lakala.com</string>
		<key>TestServerDebug</key>
		<string>58.250.161.54</string>
		<key>TestServerInternet</key>
		<string>58.250.161.54</string>
	</dict>
</dict>
</plist>
